/*-- scss:defaults --*/
// Base document colors
$navbar-bg:  #375a7f; //#f8f9fa
$body-bg: #181818;
$body-color: white;
$link-color: #75AADB;

$dropdown-link-hover-color:WhiteSmoke;
$dropdown-link-hover-bg: dimgray;



/*$dropdown-min-width:17rem;
$dropdown-padding-x:20px;
$dropdown-padding-y:1rem;
$dropdown-font-size:20px;
$dropdown-bg:rgb(156, 230, 156);
$dropdown-border-color:black;
$dropdown-border-radius:1rem;
$dropdown-border-width:5px;
$dropdown-divider-bg:black;
$dropdown-divider-margin-y:2rem;
$dropdown-link-color:black;
$dropdown-link-hover-color:green;
$dropdown-link-hover-bg: white;
$dropdown-link-active-color:white;
$dropdown-link-active-bg:green;
$dropdown-link-disabled-color:green;
$dropdown-item-padding-y:0.6rem;
$dropdown-item-padding-x:1rem;
$dropdown-header-color:green;
$caret-width:0.4em;
$caret-spacing:2.2em;
$caret-vertical-align:0.8em;
*/





// Code blocks
$code-block-bg-alpha: -.8;


.footer > * {
    background-color: #375a7f !important;
    color: #b0c4de !important;
}


.quarto-title-banner {
    margin-bottom: 1em  !important;
    color: #fdfdfe !important;
    background: #4d688a  !important;
}